<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Admin Message Board</title>
    <link rel="stylesheet" href="/vendors/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/styles/stylesheet.css">

    <script type="text/javascript" src="/vendors/angular.min.js"></script>
    <script type="text/javascript" src="/assets/scripts/adminApp.js"></script>
</head>

<body>
<div class="container" ng-controller = "MessageController">
    <form name="inputForm">
        <label for="name">Enter Name</label>
        <br>
        <input ng-model="note.name" type="text" id="name" placeholder="Enter Name">
        <br>

        <label for="message">Message</label>
        <br>
        <textarea ng-model="note.message" rows="8" cols="100" id="message"  placeholder="Enter a Message"></textarea>
    </form>

    <div id="buttons">
        <div ng-click="clickButton(note)" class="btn btn-default">Submit</div>
        <div id="cancel" class="btn btn-default">Cancel</div>
        <a href="./home">Home</a>
    </div>

    <div ng-repeat="messages in messageBoard">

        <div class="col-md-3 well">
            <p class="name">{{messages.name}}</p>
            <p class="message">{{messages.message}}</p>
            <div id="delete" class="btn btn-danger">Delete</div>
        </div>

    </div>
</div>
</body>
</html>